@import "tailwindcss";

@plugin "daisyui"{
    themes: light --default;
} ;

@theme {
  --brand-gradient: linear-gradient(
  to right,
  #f97316 0%,
  #ec4899 50%,
  #8b5cf6 100%
);
}


@theme {
  --background-image-brand-reverse-gradient: linear-gradient(
    to right,
    #8b5cf6 0%,
    #ec4899 50%,
    #f97316 100%
  );
}



@utility bg-brand-gradient {
  background-image: var(--brand-gradient);
}



.font-jakarta{
    
    font-family: "Plus Jakarta Sans", sans-serif;
}

.font-inter{
    
  font-family: "Inter", sans-serif;
}
